<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>My Account</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <h1>My Account</h1>

    <p>Welcome back, <%= name %>! We've missed you.</p>  

    <p>Click <a href="/myPaduas">here</a> to see your paduas.</p> <!-- similar to get all gpas greater than or equal to-->

    <p>Click <a href="/postPadua">here</a> to post a padua.</p> <!--update account info in DB--> 

</body>

</html>