<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Create Account</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <h1>Create an Account</h1>

    <form action="createAccount" method="post">
        <fieldset>
			<label><strong>Name:</strong><input type="text" name="name"/></label>
        </fieldset>

        <fieldset>
            <label><strong>Email Address:</strong><input type="email" name="email"></label>
        </fieldset>

        <fieldset>
            <label for="month"><strong>Birthday:</strong></label>
            <em>Month</em>
            <input type="number" name="month" min="1" max="12">
            <em>Day</em>
            <input type="number" name="day" min="1" max="31">
            <em>Year</em>
            <input type="number" name="year" min="1900" max="2022">
        </fieldset>

        <fieldset>
            <label><strong>Username:</strong><input type="text" name="user"></label>
        </fieldset>

        <fieldset>
            <label for="pass"><strong>Password:</strong></label>
            <input type="text" name="pass">
        </fieldset>

        <fieldset>
            <input type="reset"/>
            <input type="submit" value="Create Account">
        </fieldset>

    </form>

</body>

</html>