<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Failed to Remove All Data</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Invalid Login</h1>
    <h2>No data was removed</h2>
</body>