<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Padua</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Rock+3D&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <h1><strong>Join Padua Today!</strong></h1>

    <h2>Are you new to Padua?</h2>
    <p>Click <a href="/createAccount">here</a> to create an account.</p>

    <h2>Already have an account?</h2>
    <p>Click <a href="login">here</a> to log in.</p>

    <h2> Wanna Browse Posts? </h2>
    <form action="viewPaduas" method="get">
        <input type="submit" value="View Paduas!">
    </form>

    <h2>Never heard of Padua before?</h2>
    <p>Click <a href="/nelson">here</a> to learn more about us.</p>

</body>

</html>