<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>My Account</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <h1>My Account</h1>

    <p>Welcome back, <%= name %>! We've missed you.</p>  

    <p>Click <a href="postPadua">here</a> to post a padua.</p>

    <p>Click <a href="deleteAccount">here</a> to delete your account.</p>

</body>

</html>