<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>About Us</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <h1>About Us - Padua</h1>

    <h2>Meet our founder</h2>

    <img src="daddyNelson.jpeg" alt="Daddy Nelson"></img>

    <p>Nelson Padua-Perez is simply the GOAT.</p>

</body>

</html>