<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Post</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <h1>Post a Padua</h1>

    <form action="createAccount" method="post">
        <fieldset>
            <em>Your Padua is limited to 250 characters.</em>
			<label><strong>Name:</strong><textarea name="post" maxlength="250"></textarea></label>
        </fieldset>

        <fieldset>
            <input type="reset"/>
            <input type="submit" value="Post!">
        </fieldset>

    </form>

</body>

</html>