<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Removed All Data</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>All data For User <%- name %> has been successfully removed</h1>
</body>