<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Search for User</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Enter The User</h1>

    <form action="viewPaduas" method="POST">
        <fieldset>
            <hr>
            <label><strong>Username:</strong><input type="text" name="user"></label>
            <hr>
        </fieldset>

        <fieldset>
            <input type="reset"/>
            <input type="submit" value="Confirm">
        </fieldset>

    </form>
</body>